#save {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: .5em;
    color: black;
    padding: .25em 2.5em;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
}

.category {
    border: 1px solid black;
    margin-bottom: 1em;
    padding: 8px;
    display: flex;
    flex-direction: column;
}
.category:not(:last-of-type) {
    margin-right: 8px;
}

.category ul {
    min-height: 400px;
}

.item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    padding: .5em;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f0f0f0;
    display: none;
}

#overlay img {
    max-height: 100%;
}

#overlay::before {
    content: "Click anywhere to close";
    background: red;
    position: absolute;
    font-size: 36px;
    padding: 1em;
    right: 0;
    top: 0;
}

#overlay.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    margin: .5em 0;
    font-size: 120%;
    height: 1em;
    padding: .2em;
    font-weight: bold;
}

.item:hover, .sortable-chosen {
    background-color: #ccc;
}

.item::before {
    content: attr(data-name);
    color: white;
    font-weight: bold;
    position: absolute;
    font-family: sans-serif;
    top: 0;
    left: 0;
    width: 2ch;
    background: black;
    text-align: center;
    font-size: 20px;
}

#main {
    display: grid;
    grid-template-rows: minmax(400px auto) 1fr;
}

.item img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
}

.category ul .item {
    margin-right: 12px;
    margin-bottom: 12px;
}
